<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Puzzle</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-2.2.1.min.js"></script>
    <script src="../static/js/signup.js"></script>
  
  </head>

  <body>

    <div class="container">
          <div class="header">
            <h3 class="text-muted">System result:</h3>
          </div>
        {% if data_dict|length > 0 %}
        <div class="row">
            <h2 class="text-center">System took: {{data_dict['time']}} seconds and {{data_dict['moves']}} steps! </h2>
            <p class="lead"></p>
              <p class="text-center"><a class="btn btn-lg btn-success" href="/" role="button">Back to Main Page</a>
            </p>
            </p>
          </div>
        {% else %}
            <h2 class="list-group-item-heading text-center">Invalid access!</h2>
        {%endif %}
      </div>

      <footer class="footer">
        <p>&copy; Puzzle</p>
      </footer>

    </div>
  </body>
</html>
